<section class="free_code_camps">
  <div class="row">
    <h1>Editing Free Code Camp</h1>
  </div>
  <div class="row">
    <div class="column large-12 tab-8 mob-12 align-center">
      <%= render 'form', free_code_camp: @free_code_camp %>
    </div>
  </div>
  <div class="row">
    <%= link_to 'Back', free_code_camps_path %>
  </div>
</section>