<div class="nested-fields">
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "h-full-width" %>
        <%= link_to_remove_association "Remove Tag", f %>
    </div>
</div>