<section class="social_icon_form">
  <div class="row">
    <div class="column large-6 tab-8 mob-12 align-center">
      <h1>Editing Social Icon</h1>

      <%= render 'form', social_icon: @social_icon %>
      <div class="row">
        <div class="column">
          <%= link_to 'Back', root_path %>
        </div>
        <div class="column">
          <% if current_user %>
            <%= link_to 'New Social Icon', new_social_icon_path %>
          <% end %>
        </div>
      </div>
      <div class="div">
        <h2>Existed Social Icons</h2>
        <div class="social">
          <%= render '/home/social_icons', social_icons: @social_icons %>
        </div>
      </div>
    </div>
  </div>
</section>