<section class="hacker_ranks">
  <div class="row">
    <h1>Editing Hacker Rank</h1>
  </div>
  <div class="row">
    <div class="column large-12 tab-8 mob-12 align-center">
      <%= render 'form', hacker_rank: @hacker_rank %>
      </div>
  </div>
  <div class="row">
    <%= link_to 'Back', hacker_ranks_path %>
  </div>
</section>