<div class="nested-fields">
    <div class="field">
        <%= f.label :badge_name %>
        <%= f.text_field :badge_name %>   
    </div>
    <%= link_to_remove_association "Remove Linkedin", f %>
</div>