<section class="skills_form">
  <div class="row">
    <div class="column large-12 tab-8 mob-12 align-center">
      <h1>Editing Skill</h1>

      <%= render 'form', skill: @skill %>

      <div class="row">
        <div class="column">
          <%= link_to 'Back', root_path + "#skills" %>
        </div>
        <div class="column">
          <% if current_user %>
            <%= link_to 'New Skill', new_skill_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="skills" class="s-skills target-section">
  <%= render 'skills/index' %>
</section>