<section class="skills_form">
  <div class="row">
    <div class="column large-12 tab-8 mob-12 align-center">
      <h1>New Skill</h1>

      <%= render 'form', skill: @skill %>

      <%= link_to 'Back', skills_path %>
    </div>
  </div>
</section>
<section id="skills" class="s-skills target-section">
  <%= render 'skills/index' %>
</section>