<section class="education_form">
  <div class="row">
    <div class="column large-12 tab-8 mob-12 align-center">
      <h1>New Education</h1>

      <%= render 'form', education: @education %>

      <%= link_to 'Back', root_path + "#education" %>
    </div>
  </div>
</section>
<section id="education" class="s-education target-section">
  <%= render 'educations/index' %>
</section>