<div class="column align-center">
    <div class="badge">
        <% if linkedin.badge.attached? %>
            <a href=<%= linkedin.url!="" ? linkedin.url : "https://www.linkedin.com/in/alexrogna/" %> target="_blank">
                <%= image_tag linkedin.badge %>
            </a>    
        <% end %>
        <% if current_user %>
            <div class="controls">
                <%= link_to edit_linkedin_path(linkedin), title: "Edit" do %>
                    <i class="fal fa-pen fa-xs" aria-hidden="true"></i>
                <% end %>
                <% if is_admin(current_user) %>
                    <%= link_to linkedin, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                        <i class="fal fa-trash-alt fa-xs red"></i>
                    <% end %>
                <% else %>
                    <a onClick="alert('You are not an admin!')" title="Delete"><i class="fal fa-trash-alt fa-xs red"></i></a>
                <% end %>
            </div>
        <% end %>
    </div>
</div>