<section class="linkedins">
  <div class="row">
    <h1>Editing Linkedin</h1>
  </div>
  <div class="row">
    <%= render 'form', linkedin: @linkedin %>
    <%= link_to 'Back', linkedins_path %>
  </div>
</section>