<section class="personal_skills_form">
  <div class="row">
    <div class="column large-12 tab-8 mob-12 align-center">
      <h1>New Personal Skill</h1>

      <%= render 'form', personal_skill: @personal_skill %>

      <%= link_to 'Back', root_path + "#personal_skills" %>
    </div>
  </div>
</section>
<section id="personal_skills" class="s-personal_skills target-section">
  <%= render 'personal_skills/index' %>
</section>