<% social_icons.each do |social_icon| %>
<div class="icon">
        <%= link_to social_icon.link, target: :_blank, title: social_icon.name do %>
            <i class='<%= social_icon.icon %> fa-2x' ></i>
        <% end %>
        <% if current_user %>
            <div class="controls">
                <%= link_to edit_social_icon_path(social_icon), title: "Edit" do %>
                    <i class="fal fa-pen fa-xs" aria-hidden="true"></i>
                <% end %>
                <%= link_to social_icon, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                    <i class="fal fa-trash-alt fa-xs red"></i>
                <% end %>
            </div>
        <% end %>
        </div>
<% end %>

