<section class="language_skills_form">
  <div class="row">
    <div class="column large-12 tab-8 mob-12 align-center">
      <h1>New Language Skill</h1>

      <%= render 'form', language_skill: @language_skill %>

      <%= link_to 'Back', root_path + "#language_skills" %>
    </div>
  </div>
</section>
<section id="language_skills" class="s-language_skills target-section">
  <%= render 'language_skills/index' %>
</section>