@import 'variables';
/* # about */
  .s-about {
     background-color: $color-dark-blue;
     padding-top: 3 * $space;
     padding-bottom: $vspace-4;
     color: rgba(255, 255, 255, 0.4);
     h3 {
        margin-top: 0;
        color: $color-2;
    }
    .pic {
        width: $vspace-5;
        height: $vspace-5;
        border: 1.6rem solid rgba(255, 255, 255, 0.02);
        border-radius: 50%;
    }
    ul{
        list-style: none;
        li{
            color: $color-error-content;
        }
    }
    a {
        color: rgba(255, 255, 255, 0.4);
        &:hover, 
        &:focus {
            color: white;
        }
    }
    i {
        color: white;
        &:hover, 
        &:focus {
            color: $color-2;
            transition: all 0.3s ease-in-out;
        }
    }
    .content-bottom {
        margin-top: $vspace-2;
        
        .column{
            padding: 0;
        }
        .btn--about {
            background-color: white;
            border-color: white;
            color: black;
            margin-right: 0;
            svg {
                height: 2rem;
                width: 2rem;
                vertical-align: middle;
                margin-right: 1.2rem;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            &:hover, 
            &:focus {
                background-color: $color-2;
                border-color: $color-2;
                svg path {
                    fill: white;
                }
            }
        }
        input[type="submit"].btn--about{
            &:hover,
            &:focus{
                color: $color-white;
            } 
        }
        #notify_friend{
            .row{

                .column{
                    margin-top: 10px;
                    &:first-child{
                        padding-right: 4px;
                    }
                    &:last-child{
                        padding-left: 4px;
                    }
                }
            }
            #notify-friend-message{
                font-size: $text-xs;
            }
            transform: scaleY(0);    
            transform-origin: top;
            transition: all 0.26s ease;
            max-height: 0;
            display: block;
        }
        .visible{
            transform: scaleY(1)!important;
            max-height: 500px!important;
        }
    }
 }
 
 /* responsive:about */
 @media screen and (max-width: 1200px) {
     .pic {
         width: $vspace-4_5;
         height: $vspace-4_5;
         border-width: 1.4rem;
     }
 }
 
 @media screen and (max-width: 900px) {
     .pic {
         width: $vspace-4;
         height: $vspace-4;
         border-width: 1.2rem;
     }
 }
 
 @media screen and (max-width: 800px) {
     .s-about {
         padding-top: $vspace-5;
     }
     .pic {
         display: none;
     }
 }
 
 @media screen and (max-width: 600px) {
     .content-bottom .btn--download {
         margin-top: $vspace-0_5;
         width: 100%;
     }
 }
 
 @media screen and (max-width: 360px) {
     .content-bottom .btn--download svg {
         display: none;
     }
 }
 