@import 'variables';
/* ## books modal popup */
.modal-popup-skills-b {
    min-width: 60vw;
    max-height: 90vh;
    background-color: white;
    font-size: ($text-size * 0.9444);
    line-height: 1.647;
    overflow-y: auto;
    position: relative;

    img {
        margin-bottom: 0;
        max-height: 25vh;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: auto;
        padding: 10px;
    }
    
    h5 {
        margin: 10px 0 0 0;
    }
}
.books{
    background-color: white;
    margin-top: $vspace-3;
    padding-bottom: $vspace-1;
    form{
        label{
            display: inline-block;
            color: black;
        }
        input[type="email"]:focus, 
        input[type="number"]:focus, 
        input[type="search"]:focus, 
        input[type="text"]:focus, 
        input[type="tel"]:focus, 
        input[type="url"]:focus, 
        input[type="password"]:focus, 
        textarea:focus, 
        select:focus {
            color: black;
        }
        select{
            display: inline-block;
        }
        img{
            display: block;
            margin-bottom: 0;
            height: 150px;
            width: auto;
        }
        label>input[type="checkbox"]{
            margin-right: 5px;
            margin-left: 20px;
            top: 0;
        }
    }
    table{
        font-size: small;
        img{
            width: 100px;
            height: auto;
            margin: 0;
            padding: 0;
        }
        td{
            overflow-x: hidden;
        }
    }
}

/* responsive: modals */

@media screen and (max-width: 600px) {
    .modal-popup-skills-b  {
        max-height: 90vh !important;
        overflow-y: auto;
        .btn, .btn--primary{
            font-size: $text-sm;
        }
        img {
            margin-bottom: 0;
            max-height: 60vh;
        }
    }
    .row {
        padding: 0 !important;
    }
}

