@import 'variables';
/* ## free-code-camps modal popup */
.modal-popup-skills-fcc {
    background-color: #151515;
    max-height: 90vh;
    img {
        display: block;
        background-color: white;
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
        padding: 20px;
    }  
    .badge{
        position: relative;
    }
    .controls{
        font-size: 2rem;
        margin-left: 0.5vw;
        text-align: center;
        position: absolute;
        top: 25%;
        right: 10%;
        a {
            color: black;
            margin-right: 0.5vw;
            &:hover,
            &:focus{
                color: $color-2;
                transition: all 0.3s ease-in-out;
            }    
            &:last-child{
                margin-right: 0;
            }
        }
        .red{ 
            
            &:hover,
            &:focus{
                color: red;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
.modal-title-skills-fcc{
    h3{
        color: $color-white;
        display: inline-block;
        line-height: $vspace-1_75;
        padding-bottom: .1em;
        margin-bottom: $vspace-0_5;
        position: relative;
    }
    h3:after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: $color-1;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.free_code_camps{
    background-color: white;
    margin-top: $vspace-3;
    padding-bottom: $vspace-1;
    form{
        label{
            display: inline-block;
            color: black;
        }
        input[type="text"]:focus{
            color: black;
        }
        img{
            display: block;
            margin-bottom: 0;
            height: 150px;
            width: auto;
        }
        label>input[type="checkbox"]{
            margin-right: 5px;
            margin-left: 20px;
            top: 0;
        }
    }
}
@media screen and (max-width: 600px) {
    .modal-popup-skills-fcc  {
        max-height: 90vh !important;
        overflow-y: auto;
    }
    .row {
        padding: 0 !important;
    }
}