@import 'variables';
/* ## hacker-ranks modal popup */
.modal-popup-skills-hr {
    min-width: 60vw;
    min-height: 45vh;
    padding: 20px;
    background-color: $color-white;
    position: relative;
    h3{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .img{
        margin-bottom: 0;
    }
    .badge-title{
        text-anchor: middle;
    }
    .badge, .certif{
        text-align: center;
    }
    .controls{
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        a {
            color: black;
            margin-right: 0.5vw;
            &:hover,
            &:focus{
                color: $color-2;
                transition: all 0.3s ease-in-out;
            }    
            &:last-child{
                margin-right: 0;
            }
        }
        .red{ 
            
            &:hover,
            &:focus{
                color: red;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
.hacker_ranks{
    background-color: white;
    margin-top: $vspace-3;
    padding-bottom: $vspace-1;
    form{
        label{
            display: inline-block;
            color: black;
        }
        input[type="text"]:focus, textarea:focus{
            color: black;
        }
        img{
            display: block;
            margin-bottom: 0;
            height: 150px;
            width: auto;
        }
        label>input[type="checkbox"]{
            margin-right: 5px;
            margin-left: 20px;
            top: 0;
        }
    }
}