@import 'variables';
 /* # language_skills */
  .s-language_skills {
    background-color: white;
    padding-top: 0;
    padding-bottom: $vspace-2_5;
    header {
        text-align: center;
        h3 {
            margin-top: 0;
        }
    }
    main {
        .language_skills {
            margin-bottom: $vspace-1_75;
            p {
                line-height: 1.080;
                margin-top: $vspace-1;
                margin-bottom: $vspace-0_25;
            }
            .progress-bar {
                position: relative;
                width: 500px;
                height: 3em;
                background-color: #CCCCCC;
                border-radius: 4px;
                color: white;
                margin: 1em;  
            }
            .progress-bar::before {
                content: attr(data-label);
                display: flex;
                align-items: center;
                justify-content: right;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: calc(var(--width, 0) * 1%);
                min-width: 0rem;
                max-width: calc(100%);
                background-color: #313131;
                border-radius: 4px;
                padding: 1em;
                animation: fill-progress-bar 2s ease;
            } 
        }
        .controls{
            a {
                color: black;
                margin-left: 0.5vw;
                &:hover,
                &:focus{
                    color: $color-2;
                    transition: all 0.3s ease-in-out;
                }    
            }
            .red{ 
                
                &:hover,
                &:focus{
                    color: red;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
    footer {
        border-bottom: 1px solid $color-border;
        padding-bottom: $vspace-0_75;
        margin-bottom: 0;
    }
}
.language_skills_form{
    background-color: $color-gray-18;
    color: black;
    h1, h2, h3{
        color: $color-white;
    }
    form{
        label{
            color: $color-white;
            display: inline-block;
        }
        input[type="email"]:focus, 
        input[type="number"]:focus, 
        input[type="search"]:focus, 
        input[type="text"]:focus, 
        input[type="tel"]:focus, 
        input[type="url"]:focus, 
        input[type="password"]:focus, 
        textarea:focus, 
        select:focus {
            color: $color-white;
        }
        input[type="submit"]{
            margin-top: $vspace-1;
        }
    }
    .btn--submit{
        background-color: white;
        border-color: white;
        color: black;
        margin-right: 0;
        svg {
            height: 2rem;
            width: 2rem;
            vertical-align: middle;
            margin-right: 1.2rem;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        &:hover, 
        &:focus {
            background-color: $color-2;
            border-color: $color-2;
            svg path {
                fill: white;
            }
        }
    }
    .btn--primary.btn--browse{
        text-align: left;
        text-transform: none;
        letter-spacing: normal;
        border-radius: 0;
    }
    input[type="submit"].btn--submit{
        &:hover,
        &:focus{
            color: $color-white;
        } 
    }
    .alert {
        color: $color-error-content;
    }
    input{
        color: $color-white;
    }
    label>input[type="checkbox"]{
        margin-right: 5px;
        margin-left: 20px;
        top: 0;
    }
    hr{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .row{
        .column{
            .row{
                .column:last-child{
                    text-align: right;
                }
            }
        }
    }
}
/* animation */
@keyframes fill-progress-bar{
    0%   { width: 0px;  }
    100% { width: calc(var(--width, 0) * 1%);  }
}
/* responsive: language_skills */
@media screen and (max-width: 800px) {
    .s-language_skills {
        padding-top: $vspace-4;
    }
}