@import 'variables';
/* ## linkedins modal popup */
.modal-popup-skills-li {
    background-color: #151515;
    min-width: 60vw;
    position: relative;
    img {
        display: block;
        background-color: white;
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
        padding: 20px;
        
    }  
    .btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}
.linkedins{
    background-color: white;
    margin-top: $vspace-3;
    padding-bottom: $vspace-1;
    form{
        label{
            display: inline-block;
            color: black;
        }
        input[type="text"]:focus{
            color: black;
        }
        img{
            display: block;
            margin-bottom: 0;
            height: 150px;
            width: auto;
        }
        label>input[type="checkbox"]{
            margin-right: 5px;
            margin-left: 20px;
            top: 0;
        }
    }
}
@media screen and (max-width: 600px) {
    .modal-popup-skills-li  {
        max-height: 90vh !important;
        overflow-y: auto;
    }
    .row {
        padding: 0 !important;
    }
}
@media screen and (max-height: 600px) {
    .modal-popup-skills-li  {
        min-width: 30vw;
    }
}