.cv{
    .alwaysbreak { page-break-before: always; }
    .nobreak:before { clear:both; }
    .nobreak { page-break-inside: avoid; }
    h1,h2{
      margin: 0;
    }
    h2{
      font-size: 16px;
    }
    h1{
      font-size: xx-large;
    }
    table{
        width: 100%;
    }
    hr{
      margin: 13px 0;
    }
    .header{
        th{
            text-align: left; 
            &:first-child{
                width: 40%;
            }
            &:nth-child(2){
                width: 60%;
            }
        }
        i{
            width: 20px;
            text-align: center; 
        }
        a {
            text-decoration: none;
            color: black;
        }
    }

    .main{
        td{
          text-align: left; 
          vertical-align: top;
          &:first-child{
              width: 20%;
          }
          &:nth-child(2){
              width: 80%;
          }
          small {
            font-size: 12px;
          }
        }
        .progress-bar {
            position: relative;
            width: 100%;
            height: 2.5em;
            background-color: #CCCCCC;
            border-radius: 4px;
            color: white;
            // margin: 1em;  
        }
        .progress-bar::before {
            content: attr(data-label);
            display: flex;
            align-items: center;
            justify-content: right;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            min-width: 0rem;
            max-width: 100%;
            background-color: #313131;
            border-radius: 4px;
            padding: 0.75em 0 0.75em 0;
            text-align: right;
        }
        .certificate{
            a{
                text-decoration: none;
            }
            .less-than-half{
                position: absolute;
                width: 200px;
                color: black;
                top: 0.75em;
                right: 10px;
                text-align: right;
                a{
                    color: black
                }
            }
            .more-than-half{
                position: absolute;
                width: 200px;
                color: white;
                top: 0.75em;
                left: 10px;
                a{
                    color: white;
                }
            }
        }

        .p-0::before {
          width: 0%;
        }
        .p-1::before {
          width: 1%;
        }
        .p-2::before {
          width: 2%;
        }
        .p-3::before {
          width: 3%;
        }
        .p-4::before {
          width: 4%;
        }
        .p-5::before {
          width: 5%;
        }
        .p-6::before {
          width: 6%;
        }
        .p-7::before {
          width: 7%;
        }
        .p-8::before {
          width: 8%;
        }
        .p-9::before {
          width: 9%;
        }
        .p-10::before {
          width: 10%;
        }
        .p-11::before {
          width: 11%;
        }
        .p-12::before {
          width: 12%;
        }
        .p-13::before {
          width: 13%;
        }
        .p-14::before {
          width: 14%;
        }
        .p-15::before {
          width: 15%;
        }
        .p-16::before {
          width: 16%;
        }
        .p-17::before {
          width: 17%;
        }
        .p-18::before {
          width: 18%;
        }
        .p-19::before {
          width: 19%;
        }
        .p-20::before {
          width: 20%;
        }
        .p-21::before {
          width: 21%;
        }
        .p-22::before {
          width: 22%;
        }
        .p-23::before {
          width: 23%;
        }
        .p-24::before {
          width: 24%;
        }
        .p-25::before {
          width: 25%;
        }
        .p-26::before {
          width: 26%;
        }
        .p-27::before {
          width: 27%;
        }
        .p-28::before {
          width: 28%;
        }
        .p-29::before {
          width: 29%;
        }
        .p-30::before {
          width: 30%;
        }
        .p-31::before {
          width: 31%;
        }
        .p-32::before {
          width: 32%;
        }
        .p-33::before {
          width: 33%;
        }
        .p-34::before {
          width: 34%;
        }
        .p-35::before {
          width: 35%;
        }
        .p-36::before {
          width: 36%;
        }
        .p-37::before {
          width: 37%;
        }
        .p-38::before {
          width: 38%;
        }
        .p-39::before {
          width: 39%;
        }
        .p-40::before {
          width: 40%;
        }
        .p-41::before {
          width: 41%;
        }
        .p-42::before {
          width: 42%;
        }
        .p-43::before {
          width: 43%;
        }
        .p-44::before {
          width: 44%;
        }
        .p-45::before {
          width: 45%;
        }
        .p-46::before {
          width: 46%;
        }
        .p-47::before {
          width: 47%;
        }
        .p-48::before {
          width: 48%;
        }
        .p-49::before {
          width: 49%;
        }
        .p-50::before {
          width: 50%;
        }
        .p-51::before {
          width: 51%;
        }
        .p-52::before {
          width: 52%;
        }
        .p-53::before {
          width: 53%;
        }
        .p-54::before {
          width: 54%;
        }
        .p-55::before {
          width: 55%;
        }
        .p-56::before {
          width: 56%;
        }
        .p-57::before {
          width: 57%;
        }
        .p-58::before {
          width: 58%;
        }
        .p-59::before {
          width: 59%;
        }
        .p-60::before {
          width: 60%;
        }
        .p-61::before {
          width: 61%;
        }
        .p-62::before {
          width: 62%;
        }
        .p-63::before {
          width: 63%;
        }
        .p-64::before {
          width: 64%;
        }
        .p-65::before {
          width: 65%;
        }
        .p-66::before {
          width: 66%;
        }
        .p-67::before {
          width: 67%;
        }
        .p-68::before {
          width: 68%;
        }
        .p-69::before {
          width: 69%;
        }
        .p-70::before {
          width: 70%;
        }
        .p-71::before {
          width: 71%;
        }
        .p-72::before {
          width: 72%;
        }
        .p-73::before {
          width: 73%;
        }
        .p-74::before {
          width: 74%;
        }
        .p-75::before {
          width: 75%;
        }
        .p-76::before {
          width: 76%;
        }
        .p-77::before {
          width: 77%;
        }
        .p-78::before {
          width: 78%;
        }
        .p-79::before {
          width: 79%;
        }
        .p-80::before {
          width: 80%;
        }
        .p-81::before {
          width: 81%;
        }
        .p-82::before {
          width: 82%;
        }
        .p-83::before {
          width: 83%;
        }
        .p-84::before {
          width: 84%;
        }
        .p-85::before {
          width: 85%;
        }
        .p-86::before {
          width: 86%;
        }
        .p-87::before {
          width: 87%;
        }
        .p-88::before {
          width: 88%;
        }
        .p-89::before {
          width: 89%;
        }
        .p-90::before {
          width: 90%;
        }
        .p-91::before {
          width: 91%;
        }
        .p-92::before {
          width: 92%;
        }
        .p-93::before {
          width: 93%;
        }
        .p-94::before {
          width: 94%;
        }
        .p-95::before {
          width: 95%;
        }
        .p-96::before {
          width: 96%;
        }
        .p-97::before {
          width: 97%;
        }
        .p-98::before {
          width: 98%;
        }
        .p-99::before {
          width: 99%;
        }
        .p-100::before {
          width: 100%;
        }
    }
    .technical-skills, .language-skills{
        table{
            td{
                text-align: left; 
                vertical-align: middle;
                &:first-child{
                    width: 14%;
                }
                &:nth-child(2){
                    width: 30%;
                }
                &:nth-child(3){
                    width: 7%;
                }
                &:nth-child(4){
                    width: 14%;
                }
                &:nth-child(5){
                    width: 30%;
                }
            }
        } 
    }
    .language-skills{
      ul {
        margin:0;
        padding-left: 0;
        li{
          list-style: none;
        }
      }
      hr{
        width: 200px;
        &:last-child{
          display: none;
        }
      }
    }
    .personal-skills{
      ul {
        padding-left: 0;
        margin: 0;
        li{
          list-style: none;
          
        }
        hr{
          &:last-of-type{
            display: none;
          }
        }
      }
    }
    .work-experience, .education{
      h1{
        font-size: 16px;
      }
      .tech-name::after{
        content: ", ";
      }
      .tech-name:last-of-type::after{
        content: "";
      }
      .key-resp{
        ul{
          margin: 0 auto;
        }
      }
      
      table{
        
        td{
            &:first-child{
                width: 50%;
            }
            &:nth-child(2){
                width: 40%;
                text-align: right;
            }
        }
        tr{
          &:last-child{
            hr{
              display: none;
            }
          }
        }
      } 
    }
  .personal-skills, .language-skills{
    hr{
      margin: 7px 0;
    }  
  }
  .work-experience, .education{
    hr{
      margin: 5px 0;
    } 
  }
}
