@import 'variables';
.s-personal_skills {
    background-color: white;
    padding-top: $vspace-2_5;
    padding-bottom: 0;
    header {
        text-align: center;
    }
    .personal_skills {
        margin-bottom: $vspace-1_75;
        .item {
            margin-top: $vspace-1;
            i {
                color: $color-dark-blue;
            }
        }
        .controls{
            margin-top: -$vspace-1;
            a {
                color: black;
                margin-left: 0.5vw;
                &:hover,
                &:focus{
                    color: $color-2;
                    transition: all 0.3s ease-in-out;
                }    
                i{
                    &:hover,
                    &:focus{
                        color: $color-2;
                        transition: all 0.3s ease-in-out;
                    }    
                }
            }
            .red{ 
                
                &:hover,
                &:focus{
                    color: red;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
    footer {
        border-bottom: 1px solid $color-border;
        padding-bottom: $vspace-0_75;
        margin-bottom: 0;
    }
}
.personal_skills_form{
    background-color: $color-gray-18;
    color: black;
    h1, h2, h3{
        color: $color-white;
    }
    form{
        label{
            color: $color-white;
            display: inline-block;
        }
        input[type="email"]:focus, 
        input[type="number"]:focus, 
        input[type="search"]:focus, 
        input[type="text"]:focus, 
        input[type="tel"]:focus, 
        input[type="url"]:focus, 
        input[type="password"]:focus, 
        textarea:focus, 
        select:focus {
            color: $color-white;
        }
        input[type="submit"]{
            margin-top: $vspace-1;
        }
    }
    .btn--submit{
        background-color: white;
        border-color: white;
        color: black;
        margin-right: 0;
        &:hover, 
        &:focus {
            background-color: $color-2;
            border-color: $color-2;
            svg path {
                fill: white;
            }
        }
    }
    .btn--primary.btn--browse{
        text-align: left;
        text-transform: none;
        letter-spacing: normal;
        border-radius: 0;
    }
    input[type="submit"].btn--submit{
        &:hover,
        &:focus{
            color: $color-white;
        } 
    }
    .alert {
        color: $color-error-content;
    }
    input{
        color: $color-white;
    }
    label>input[type="checkbox"]{
        margin-right: 5px;
        margin-left: 20px;
        top: 0;
    }
    hr{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .row{
        .column{
            .row{
                .column:last-child{
                    text-align: right;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .s-personal_skills  {
        font-size: 2.8vw;
        .personal_skills{
            .item{
                padding: 0 0.1rem;
            }
        }
    }
}