@import 'variables';
 /* # skills */
.s-skills {
    background-color: white;
    padding-top: $vspace-2_5;
    padding-bottom: $vspace-2_5;
    header {
        text-align: center;
        h3 {
            margin-top: 0;
        }
    }
    main {
        text-align: center;
        .skill {
            box-shadow: 2px 2px 20px 1px rgb(199, 199, 199);
            margin: 4px;
            padding: 10px;
            background-color: $color-white;
            .thumb{
                img {
                    display: block;
                    background-color: transparent;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 0;
                    -webkit-transition: all, .5s;
                    transition: all, .5s;
                }
                &:hover {
                        img {
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                        }
                }
            }
            .deactivated {
                color: $color-gray-6;
            }
            .skill-item {
                flex-basis: 25%;
                i{
                    display: inline-block;
                    -webkit-transition: all, .35s;
                    transition: all, .35s ease-in-out;
                }
                &:hover {
                    i{
                        font-size: larger;
                    }
                    .deactivated{
                        font-size:inherit;
                    }
                }
            }
        }
        
    }
    footer {
        border-bottom: 1px solid $color-border;
        padding-bottom: $vspace-2_5;
        margin-bottom: 0;
    }
    
}
.skills_form{
    background-color: $color-gray-18;
    color: black;
    h1, h2, h3{
        color: $color-white;
    }
    form{
        label{
            color: $color-white;
            display: inline-block;
        }
        input[type="email"]:focus, 
        input[type="number"]:focus, 
        input[type="search"]:focus, 
        input[type="text"]:focus, 
        input[type="tel"]:focus, 
        input[type="url"]:focus, 
        input[type="password"]:focus, 
        textarea:focus, 
        select:focus {
            color: $color-white;
        }
        input[type="submit"]{
            margin-top: $vspace-1;
        }
    }
    .btn--submit{
        background-color: white;
        border-color: white;
        color: black;
        margin-right: 0;
        svg {
            height: 2rem;
            width: 2rem;
            vertical-align: middle;
            margin-right: 1.2rem;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        &:hover, 
        &:focus {
            background-color: $color-2;
            border-color: $color-2;
            svg path {
                fill: white;
            }
        }
    }
    .btn--primary.btn--browse{
        text-align: left;
        text-transform: none;
        letter-spacing: normal;
        border-radius: 0;
    }
    input[type="submit"].btn--submit{
        &:hover,
        &:focus{
            color: $color-white;
        } 
    }
    .alert {
        color: $color-error-content;
    }
    img{
        display: block;
    }
    input{
        color: $color-white;
    }
    input[type="date"]{
        color: $color-black;
    }
    label>input[type="checkbox"]{
        margin-right: 5px;
        margin-left: 20px;
        top: 0;
    }
    hr{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .row{
        .column{
            .row{
                .column:last-child{
                    text-align: right;
                }
            }
        }
    }
}
/* responsive: skills */
@media screen and (max-width: 800px) {
    .s-skills {
        padding-top: $vspace-4;
    }
}